<mat-toolbar class="mat-elevation-z8" [color]="themeService.getTheme()">

    <span [routerLink]="['/home']" style="cursor: pointer;" >NoteNexus</span>
    <span class="spacer"> </span>
    <button   mat-icon-button  [matMenuTriggerFor]="menu">
       <mat-icon class="mat-18">palette</mat-icon>
    </button>




    <mat-menu #menu="matMenu">
       <button mat-mini-fab  color="primary" class="button-margin" (click)="changeTheme('primary')">
           <mat-icon *ngIf="themeService.getTheme() === 'primary'" >done</mat-icon>
       </button>

        <button mat-mini-fab  color="accent" class="button-margin" (click)="changeTheme('accent')">
            <mat-icon *ngIf="themeService.getTheme() === 'accent'" >done</mat-icon>
        </button>

        <button mat-mini-fab  color="warn" class="button-margin" (click)="changeTheme('warn')">
            <mat-icon *ngIf="themeService.getTheme() === 'warn'" >done</mat-icon>
        </button>
    </mat-menu>


    <button *ngIf="admin == true" style="cursor: pointer;" [routerLink]="['/notenexus/layout']">
      Dashboard
    </button>

    <button mat-icon-button *ngIf="loggedIn == false" [routerLink]="['/login']" >
        <mat-icon class="mat-18">account_circle</mat-icon>
    </button>
</mat-toolbar>

<div class="content-wrapper">
  <br>
  <mat-form-field appearance="fill" [color]="themeService.getTheme()">
    <mat-label>
      Search
    </mat-label>
    <input matInput [(ngModel)]="searchText"  (input)="filteredItems()">
  </mat-form-field>

  <div class="card-container">
    <mat-card *ngFor="let card of filteredItems()" class="card" (click)="handleViewAction(card)">
      <mat-card-header>
        <mat-card-title>{{card.title}}</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        Category : {{card.categoryName}}
        <br>
        Published on {{card.published_date | date : 'dd/MM/yyyy'}}
      </mat-card-content>
    </mat-card>
  </div>

  <h1 *ngIf="filteredItems()?.length === 0">Nothing to show!!</h1>


</div>



<mat-toolbar [color]="themeService.getTheme()" class="footer" >

    <div class="toolbar-content"> Created with love by Codexx</div>
</mat-toolbar>
