<mat-toolbar [color]="themeService.getTheme()" >
  <mat-toolbar-row fxLayout="row">
      <span class="title-center"> View Article</span>
  </mat-toolbar-row>
</mat-toolbar>


<mat-dialog-content class="mat-typography">
     <div style="color: black;"> Title : {{article?.title}}
      <br>
      Category : {{article.categoryName}}
      <br>
      Status : {{article?.status}}
     </div>
     <hr>
     <div [innerHTML]="article.content | sanatizeHtml"></div>
</mat-dialog-content>

<mat-dialog-actions align="center">
    <button mat-raised-button [color]="themeService.getTheme()" matDialogClose>Close</button>


</mat-dialog-actions>
